<!DOCTYPE html>
<html>
<head>
    <title>Machine Learning</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
</head>
<body>
<div class="testbox">
    <form action="{{ url_for('predict')}}" method="post">
        <div class="banner">
            <h1>News Clustering</h1>
        </div>
        <br/>

        <fieldset>
            <legend id="all_links">All Links</legend>
            <div class="colums">
                <div class="item">
                    <a href="https://edition.cnn.com/2022/01/21/health/omicron-facts-fallacies-frieden-commentary/index.html">Don't
                        underestimate Omicron -- especially if you're unvaccinated</a>
                </div>
                <div class="item">
                    <a href="https://www.newtimes.co.rw/news/rbc-warns-new-covid-19-variant">RBC warns of new Covid-19
                        variant</a>
                </div>
                <div class="item">
                    <a href="https://www.bbc.com/news/world-europe-59283128">Covid: Austria introduces lockdown for
                        unvaccinated</a>
                </div>
                <div class="item">
                    <a href="https://www.newtimes.co.rw/sports/table-tennis-coaches-urged-invest-more-efforts-nurturing-new-players">Table
                        Tennis: Coaches urged to invest more efforts in nurturing new players</a>
                </div>
                <div class="item">
                    <a href="https://edition.cnn.com/2022/02/02/sport/giannis-antetokounmpo-triple-double-michael-jordan-total-spt-intl/index.html">Giannis
                        Antetokounmpo surpasses Michael Jordan's triple-double total as Milwaukee Bucks win</a>
                </div>
                <div class="item">
                    <a href="https://edition.cnn.com/2022/02/01/sport/career-highlights-tom-brady-spt-intl/index.html">Tom
                        Brady leaves the NFL as the architect of one of the greatest sports dynasties ever</a>
                </div>
                <div class="item">
                    <a href="https://edition.cnn.com/2022/01/24/investing/global-markets-intl-hnk/index.html">Global
                        stocks mixed as investors worry about Russia-Ukraine tensions and upcoming Fed plans</a>
                </div>
                <div class="item">
                    <a href="https://edition.cnn.com/2022/01/24/investing/joe-biden-stock-market/index.html">Unlike
                        Trump, Biden doesn't use stocks to judge the economy, White House says</a>
                </div>
                <div class="item">
                    <a href="https://www.newtimes.co.rw/business/uk-based-fin-tech-poised-rwandan-market-debut">Is UK
                        based fin-tech poised for Rwandan market debut?</a>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Cluster 1</legend>
            <div class="colums">
                <div class="item">
                    <a href="https://edition.cnn.com/2022/01/21/health/omicron-facts-fallacies-frieden-commentary/index.html">Don't
                        underestimate Omicron -- especially if you're unvaccinated</a>
                </div>
                <div class="item">
                    <a href="https://edition.cnn.com/2022/01/24/investing/global-markets-intl-hnk/index.html">Global
                        stocks mixed as investors worry about Russia-Ukraine tensions and upcoming Fed plans</a>
                </div>
                <div class="item">
                    <a href="https://edition.cnn.com/2022/01/24/investing/joe-biden-stock-market/index.html">Unlike
                        Trump, Biden doesn't use stocks to judge the economy, White House says</a>
                </div>
                <div class="item">
                    <a href="https://www.newtimes.co.rw/business/uk-based-fin-tech-poised-rwandan-market-debut">Is UK
                        based fin-tech poised for Rwandan market debut?</a>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Cluster 2</legend>
            <div class="colums">
                <div class="item">
                    <a href="https://www.bbc.com/news/world-europe-59283128">Covid: Austria introduces lockdown for
                        unvaccinated</a>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Cluster 3</legend>
            <div class="colums">
                <div class="item">
                    <a href="https://www.newtimes.co.rw/news/rbc-warns-new-covid-19-variant">RBC warns of new Covid-19
                        variant</a>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Cluster 4</legend>
            <div class="colums">
                <div class="item">
                    <a href="https://www.newtimes.co.rw/sports/table-tennis-coaches-urged-invest-more-efforts-nurturing-new-players">Table
                        Tennis: Coaches urged to invest more efforts in nurturing new players</a>
                </div>
                <div class="item">
                    <a href="https://edition.cnn.com/2022/02/02/sport/giannis-antetokounmpo-triple-double-michael-jordan-total-spt-intl/index.html">Giannis
                        Antetokounmpo surpasses Michael Jordan's triple-double total as Milwaukee Bucks win</a>
                </div>
                <div class="item">
                    <a href="https://edition.cnn.com/2022/02/01/sport/career-highlights-tom-brady-spt-intl/index.html">Tom
                        Brady leaves the NFL as the architect of one of the greatest sports dynasties ever</a>
                </div>
            </div>
        </fieldset>
        <br/>

    </form>
</div>
</body>
</html>

<!--Source: https://www.w3docs.com/tools/editor/6256-->